.box{

}

.userInfo{

}

.imgBox{
    background-size: cover;
    min-height: 12rem;
    position: relative;
}

.userImg{
    height: 7rem;
    display: block;
    margin: 1rem auto;

}

.profileTheme{
    width: 100%;
}

.profileTitle{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
}

.profileTitle span{
    color: #3f414d;
    font-size: 1.5rem;
}

.profileInfo{
    background: #fff;
    margin-top: -7px;
    padding: 1rem;
}

